
@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@100;200&display=swap');

.parrallax{
  min-height: 1500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.content{
  font-family: 'Tourney', cursive;
  font-weight: 100;
  margin: 70% 10%;
  font-size: 140px;
  font-kerning: 160px;
  color: white;
  -webkit-text-stroke: 10px rgba(255, 244, 254, 0.15);
  text-align:center;

  top: -20%;
  z-index: -1;
}

img{
  z-index: -2;
  width: 600px;
  height: auto;
  left: 300px;
  
}
  
  #blob canvas {
    width: 1000px;
    margin-top: -5%;
    position: fixed;
    top: 20vh;
    left: 15vw;
  }
  
  @media (max-width: 1200px) {
    #blob canvas {
      margin-top: -10%;
      width: 1000px;
    }
  }
  
  @media (max-width: 600px) {
    #blob canvas {
      width: 800px;
    }
  }
  
  /* html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  } */
  
  /* * {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  }
  
  *:before, *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  } */
  
  /* html,
  body {
    overflow: hidden;
  } */
  
  body {
    /* min-height: 100vh; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: 'Source Sans Pro', Arial;
    background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);

  }

  #blob {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 25%;
  }